@{
    ViewBag.Title = "Правила";
}
<p>
    1.Під час тесту не дозволяється перзавантажувати сторінку
    або повертатися на попередню.
</p>
<p>
    Не дотримання правил призведе до незарахування тесту.
</p>